<script src="./socket.io.js"></script>
<script>
  var socket = null;
  var latency = false;
  var connect = function(host) {
    if(socket){
      socket.disconnect();
    }
    socket = io.connect('http://' + host);
    
    socket.on('connect', function(){        
        socket.on('authenticated', function() {
          print('authenticated', {});
        	initEventHandlers(socket);
        });
        socket.on('unauthorized', function(err){
          console.log("unauthorized", err);
          socket.disconnect(); 
        });
        socket.on('authentication-error', function(err){
          console.log("authentication-error", err);
          socket.disconnect(); 
        });
    });
  }

  var initEventHandlers = function(socket) {
      socket.on('disconnect', function (data) {
        print('disconnect', data);
      });
      
      socket.on('reconnect', function (data) {
        print('reconnect', data);
      });
      
      socket.on('device-connect-error', function (data) {
        print('device-connect-error', data);
      });       

      socket.on('totem-connect-error', function (data) {
        print('totem-connect-error', data);
      });
      
      socket.on('interaction-finished', function (data) {
        print('interaction-finished', data);
      });     
      
      socket.on('message', function (data) {
        print('message', data);
      });

      socket.on('message-error', function (data) {
        print('message-error', data);
      });

      socket.on('connection-hash-created', function (data) {
        print('connection-hash-created', data);
      });

      socket.on('connection-hash-request-error', function (data) {
        print('connection-hash-request-error', data);
      });

      socket.on('device-connected', function (data) {
        print('device-connected', data);
      });
      
      socket.on('device-disconnected', function (data) {
        print('device-disconnected', data);
      });
      
      socket.on('totem-disconnected', function (data) {
        print('totem-disconnected', data);
      });
      
      socket.on('device-reconnected', function (data) {
        print('device-reconnected', data);
      });
      
      socket.on('totem-connected', function (data) {
        print('totem-connected', data);
      });   
      
      socket.on('latency-test', function (data) {
          socket.emit('latency-ack', data);
      });   

      socket.on('latency-totem', function (data) {
        if(latency){
          print('latency-totem', filterLatencyData(data));
        }
      });  

      socket.on('latency-device', function (data) {
        if(latency){
          print('latency-device', filterLatencyData(data));
        }
      });

      socket.on('latency-totem-anomaly', function (data) {
        if(latency){
          print('latency-totem-anomaly', filterLatencyData(data));
        }
      });  

      socket.on('latency-device-anomaly', function (data) {
        if(latency){
          print('latency-device-anomaly', data);
        }
      });  

      socket.on('reconnect-hash', function (data) {
          print('reconnect-hash', data);
      }); 

      socket.on('session-finished', function (data) {
          print('session-finished', data);
      });
    }

  var measureLatency = function(bool) {
    if(latency){
      latency = true;
    } else {
      latency = false;
    }
  }

  var print = function(event, data) {
      console.log(event, data);
    }
  
  var emit = function(event, data) {
        if(socket){            
                 socket.emit(event, data);                                   
        } else {
            console.log('no socket available');
        }
    }
  
    
  
</script>